In [20]:
import pandas as pd
import nltk
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords

In [21]:
nltk.download("stopwords")
nltk.download("punkt")

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Siim\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Siim\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [4]:
true1 = pd.read_csv("./Datasets/true.csv")
true2 = pd.read_csv("./Datasets/mix_true.csv")
fake1 = pd.read_csv("./Datasets/fake.csv")
fake2 = pd.read_csv("./Datasets/mix_fake.csv")

In [6]:
true1.head()

,Unnamed: 0,title,text,date
0,0,as u.s budget fight looms republicans flip t...,washington reuters the head of a conservat...,2017-12-31
1,1,u.s military to accept transgender recruits o...,washington reuters transgender people will...,2017-12-29
2,2,senior u.s republican senator let mr muell...,washington reuters the special cou.sel inv...,2017-12-31
3,3,fbi ru.sia probe helped by australian diplomat...,washington reuters trump campaign adviser ...,2017-12-30
4,4,trump wants postal service to charge much mor...,seattle washington reuters president donal...,2017-12-29

In [10]:
fake2.head()

,Unnamed: 0,title,text,date
0,0,intl community still financing protecting terr...,st century wire says wire reported on friday ...,2016-10-26
1,1,fbi director comeys leaked memo explains why h...,in a stunning turn of events days before the ...,2016-10-29
2,2,fbi redux whats behind new probe into hillary ...,a tidal wave of revelations is pouring out of ...,2016-10-29
3,3,party corruption clinton campaign directly tie...,november by wire comments patrick hennings...,2016-11-01
4,4,hillarys ru.sian hack hoax the biggest lie of ...,november by shawn helton comment shawn hel...,2016-11-01

In [11]:
true1["class"] = 1
true2["class"] = 1

In [13]:
fake1["class"] = 0
fake2["class"] = 0

In [15]:
data = pd.concat([true1, true2, fake1,fake2], axis=0)
data

,Unnamed: 0,title,text,date,class
0,0,as u.s budget fight looms republicans flip t...,washington reuters the head of a conservat...,2017-12-31,1
1,1,u.s military to accept transgender recruits o...,washington reuters transgender people will...,2017-12-29,1
2,2,senior u.s republican senator let mr muell...,washington reuters the special cou.sel inv...,2017-12-31,1
3,3,fbi ru.sia probe helped by australian diplomat...,washington reuters trump campaign adviser ...,2017-12-30,1
4,4,trump wants postal service to charge much mor...,seattle washington reuters president donal...,2017-12-29,1
...,...,...,...,...,...
1285,1285,how to report voter fraud crash cou.se,print sidebyside of bill clinton and danney wi...,2016-11-08,0
1286,1286,national attention on ayotte hassan nh senate...,print have you ever noticed how washington al...,2016-11-09,0
1287,1287,how to have honest elections,will it be representative government or thugoc...,2016-11-12,0
1288,1288,all wars are bankers wars,for those who are too young or too unwilling t...,2016-11-18,0
1289,1289,snow reports from around the northland duluth ...,while democrats perpetually circle the wagons ...,2016-11-19,0

In [18]:
data = data.drop(data.columns.difference(["text", "class"]), axis=1)

In [23]:
data

                                                   text  class
0     washington  reuters    the head of a conservat...      1
1     washington  reuters    transgender people will...      1
2     washington  reuters    the special cou.sel inv...      1
3     washington  reuters    trump campaign adviser ...      1
4     seattle washington  reuters    president donal...      1
...                                                 ...    ...
1285  print sidebyside of bill clinton and danney wi...      0
1286  print  have you ever noticed how washington al...      0
1287  will it be representative government or thugoc...      0
1288  for those who are too young or too unwilling t...      0
1289  while democrats perpetually circle the wagons ...      0

[46896 rows x 2 columns]

In [24]:
text = data.text.str.cat(sep=" ")
tokens = word_tokenize(text)

In [26]:
stop_words = set(stopwords.words("english"))
tokens = [word for word in tokens if not word in stop_words]